In [4]:
import pandas as pd
import numpy as np

pd.set_option('display.float_format', '{:.0f}'.format)

## Cargando el dataset

In [8]:
df = pd.read_csv("data/all-states-history.csv")
print(f"El DataFrame esta compuesto por {df.shape[0]} filas y {df.shape[1]} columnas.")

El DataFrame esta compuesto por 20780 filas y 41 columnas.

## Inspeccionando el dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20780 entries, 0 to 20779
Data columns (total 41 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   date                              20780 non-null  object
 1   state                             20780 non-null  object
 2   death                             19930 non-null  float64
 3   deathConfirmed                    9422 non-null   float64
 4   deathIncrease                     20780 non-null  int64
 5   deathProbable                     7593 non-null   float64
 6   hospitalized                      12382 non-null  float64
 7   hospitalizedCumulative            12382 non-null  float64
 8   hospitalizedCurrently             17339 non-null  float64
 9   hospitalizedIncrease              20780 non-null  int64
 10  inIcuCumulative                   3789 non-null   float64
 11  inIcuCurrently                    11636 non-null  float64
 12  negative                          13290 non-null  float64
 13  negativeIncrease                  20780 non-null  int64
 14  negativeTestsAntibody             1458 non-null   float64
 15  negativeTestsPeopleAntibody       972 non-null    float64
 16  negativeTestsViral                5024 non-null   float64
 17  onVentilatorCumulative            1290 non-null   float64
 18  onVentilatorCurrently             9126 non-null   float64
 19  positive                          20592 non-null  float64
 20  positiveCasesViral                14246 non-null  float64
 21  positiveIncrease                  20780 non-null  int64
 22  positiveScore                     20780 non-null  int64
 23  positiveTestsAntibody             3346 non-null   float64
 24  positiveTestsAntigen              2233 non-null   float64
 25  positiveTestsPeopleAntibody       1094 non-null   float64
 26  positiveTestsPeopleAntigen        633 non-null    float64
 27  positiveTestsViral                8958 non-null   float64
 28  recovered                         12003 non-null  float64
 29  totalTestEncountersViral          5231 non-null   float64
 30  totalTestEncountersViralIncrease  20780 non-null  int64
 31  totalTestResults                  20614 non-null  float64
 32  totalTestResultsIncrease          20780 non-null  int64
 33  totalTestsAntibody                4789 non-null   float64
 34  totalTestsAntigen                 3421 non-null   float64
 35  totalTestsPeopleAntibody          2200 non-null   float64
 36  totalTestsPeopleAntigen           999 non-null    float64
 37  totalTestsPeopleViral             9197 non-null   float64
 38  totalTestsPeopleViralIncrease     20780 non-null  int64
 39  totalTestsViral                   14516 non-null  float64
 40  totalTestsViralIncrease           20780 non-null  int64
dtypes: float64(30), int64(9), object(2)
memory usage: 6.5+ MB

In [7]:
df.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,AK,305,NaN,0,NaN,1293,1293,33,0,...,1731628,0,NaN,NaN,NaN,NaN,NaN,0,1731628,0
1,2021-03-07,AL,10148,7963,-1,2185,45976,45976,494,0,...,2323788,2347,NaN,NaN,119757,NaN,2323788,2347,NaN,0
2,2021-03-07,AR,5319,4308,22,1011,14926,14926,335,11,...,2736442,3380,NaN,NaN,NaN,481311,NaN,0,2736442,3380
3,2021-03-07,AS,0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140,0,NaN,NaN,NaN,NaN,NaN,0,2140,0
4,2021-03-07,AZ,16328,14403,5,1925,57907,57907,963,44,...,7908105,45110,580569,NaN,444089,NaN,3842945,14856,7908105,45110

In [10]:
df.describe()

,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,inIcuCumulative,inIcuCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
count,19930,9422,20780,7593,12382,12382,17339,20780,3789,11636,...,20614,20780,4789,3421,2200,999,9197,20780,14516,20780
mean,3682,3770,25,417,9263,9263,1191,37,1934,360,...,2186936,17508,163403,308920,165432,168188,965011,2740,2304555,12961
std,6281,4158,60,538,12621,12621,2060,208,1953,595,...,4436508,33586,201698,423285,178182,143748,1415215,16219,4445365,37495
min,0,0,-201,0,1,1,0,-12257,6,0,...,0,-130545,0,1,1,3,0,-1043744,0,-1154583
25%,161,607,0,79,985,985,166,0,501,60,...,104050,1206,18965,20047,54913,37676,141470,0,132460,0
50%,1108,2410,6,216,4472,4472,531,0,1295,172,...,655267,6125,84652,123384,103968,144130,419372,0,731651,1896
75%,4388,5462,24,460,12248,12248,1279,36,2451,380,...,2264766,19086,230011,432727,183103,255251,1229298,2478,2496925,12441
max,54124,21177,2559,2594,82237,82237,22851,16373,9263,5225,...,49646014,473076,1054711,2664340,995580,580372,11248247,820817,49646014,2164543

## Verificar columnas con datos faltantes

In [11]:
df.isnull().sum()

date                                    0
state                                   0
death                                 850
deathConfirmed                      11358
deathIncrease                           0
deathProbable                       13187
hospitalized                         8398
hospitalizedCumulative               8398
hospitalizedCurrently                3441
hospitalizedIncrease                    0
inIcuCumulative                     16991
inIcuCurrently                       9144
negative                             7490
negativeIncrease                        0
negativeTestsAntibody               19322
negativeTestsPeopleAntibody         19808
negativeTestsViral                  15756
onVentilatorCumulative              19490
onVentilatorCurrently               11654
positive                              188
positiveCasesViral                   6534
positiveIncrease                        0
positiveScore                           0
positiveTestsAntibody               17434
positiveTestsAntigen                18547
positiveTestsPeopleAntibody         19686
positiveTestsPeopleAntigen          20147
positiveTestsViral                  11822
recovered                            8777
totalTestEncountersViral            15549
totalTestEncountersViralIncrease        0
totalTestResults                      166
totalTestResultsIncrease                0
totalTestsAntibody                  15991
totalTestsAntigen                   17359
totalTestsPeopleAntibody            18580
totalTestsPeopleAntigen             19781
totalTestsPeopleViral               11583
totalTestsPeopleViralIncrease           0
totalTestsViral                      6264
totalTestsViralIncrease                 0
dtype: int64